
<div>
    <a href="/post/{{post.id}}">{{post.title}}</a>
    <p>Posted by {{post.username}} on {{format_date post.date_created}}</p>
</div>
<p>
{{post.content}}
</p>

{{#if comment.length}}
<p>
{{comment.comment}}
</p>
{{/if}}
